<!DOCTYPE html>
<html>
<head>
  <title>SuperBudget</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Super Budget</a>
	</div>
</nav>
<%= yield %>

</body>
</html>
